<h2 class="text-2xl">Países</h2>
<hr class="border border-slate-700/30" />
<ul class="border border-slate-700/30 p-2">
  <!-- <li
    class="py-2 px-4 border-b border-slate-700/30 cursor-pointer"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="" class="block w-full h-full">Home Page</a>
  </li>
  <li
    class="py-2 px-4 border-b border-slate-700/30 cursor-pointer"
    routerLinkActive="active">
    <a routerLink="about" class="block w-full h-full">About Page</a>
  </li>
  <li class="py-2 px-4 cursor-pointer" routerLinkActive="active">
    <a routerLink="contact" class="block w-full h-full">Contact Page</a>
  </li> -->

  <li
    class="py-2 px-4 border-b border-slate-700/30 cursor-pointer"
    routerLinkActive="active">
    <a routerLink="countries/by-capital" class="block w-full h-full"
      >Por capital</a
    >
  </li>

  <li
    class="py-2 px-4 border-b border-slate-700/30 cursor-pointer"
    routerLinkActive="active">
    <a routerLink="countries/by-country" class="block w-full h-full"
      >Por país</a
    >
  </li>

  <li class="py-2 px-4 cursor-pointer" routerLinkActive="active">
    <a routerLink="countries/by-region" class="block w-full h-full"
      >Por región</a
    >
  </li>
</ul>
